        @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@500&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            font-size: 12px;
            font-family: 'M PLUS 1 Code', sans-serif
        }
        
        body {
            font-size: 15px;
            font-family: 'M PLUS 1 Code', sans-serif;
            color: black;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        div {
            padding: 2rem;
        }
        
        section {
            min-height: 50vh;
            width: 100%;
            padding: 100px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black
        }
        
        .container {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            background-color: transparent;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
        }
        
        .container div {
            font-size: 2rem;
            font-weight: 300;
            line-height: 3rem;
            text-align: center;
        }
        
        .container p {
            font-size: 20px;
            font-weight: 300;
            line-height: 3rem;
            text-align: justify;
        }
        
        button {
            border: none;
            border-radius: 20px;
            box-shadow: 2px 2px 30px 2px rgb(56, 54, 53);
            padding: 10px;
            font-size: 17px;
            background-color: rgb(2, 2, 2);
            color: white;
            cursor: pointer;
            align-self: center;
            font-family: 'M PLUS 1 Code', sans-serif
        }
        
        div div button {
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 50%;
            color: white;
            background-color: black;
            align-self: center;
            text-align: center;
            line-height: 0;
            cursor: pointer;
        }
        
        .temps {
            display: inline-flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            height: 1em;
        }